# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage


# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
react-pratical-start
react-practical-start.zip
react-practical-start/06/demos/m5-demo/src/search-results/search-results-row.js
react-practical-start/06/demos/m5-demo/src/search-results/index.js
react-practical-start/06/demos/m5-demo/src/main-page/main-page.css
react-practical-start/06/demos/m5-demo/src/main-page/index.js
react-practical-start/06/demos/m5-demo/src/main-page/house-filter.js
react-practical-start/06/demos/m5-demo/src/main-page/header.js
react-practical-start/06/demos/m5-demo/src/main-page/GloboLogo.png
react-practical-start/06/demos/m5-demo/src/main-page/featured-house.js
react-practical-start/06/demos/m5-demo/src/main-page/app-presentation.js
react-practical-start/06/demos/m5-demo/src/house/Inquiry.js
react-practical-start/06/demos/m5-demo/src/house/index.js
react-practical-start/06/demos/m5-demo/src/house/house.css
react-practical-start/06/demos/m5-demo/src/house/Email.png
react-practical-start/06/demos/m5-demo/src/registerServiceWorker.js
react-practical-start/06/demos/m5-demo/src/index.js
react-practical-start/06/demos/m5-demo/src/App.test.js
react-practical-start/06/demos/m5-demo/scripts/test.js
react-practical-start/06/demos/m5-demo/scripts/start.js
react-practical-start/06/demos/m5-demo/scripts/build.js
react-practical-start/06/demos/m5-demo/public/manifest.json
react-practical-start/06/demos/m5-demo/public/index.html
react-practical-start/06/demos/m5-demo/public/houses.json
react-practical-start/06/demos/m5-demo/public/favicon.ico
react-practical-start/06/demos/m5-demo/config/jest/fileTransform.js
react-practical-start/06/demos/m5-demo/config/jest/cssTransform.js
react-practical-start/06/demos/m5-demo/config/webpackDevServer.config.js
react-practical-start/06/demos/m5-demo/config/webpack.config.prod.js
react-practical-start/06/demos/m5-demo/config/webpack.config.dev.js
react-practical-start/06/demos/m5-demo/config/polyfills.js
react-practical-start/06/demos/m5-demo/config/paths.js
react-practical-start/06/demos/m5-demo/config/env.js
react-practical-start/06/demos/m5-demo/.vscode/launch.json
react-practical-start/06/demos/m5-demo/README.md
react-practical-start/06/demos/m5-demo/package.json
react-practical-start/06/demos/m5-demo/package-lock.json
react-practical-start/06/demos/m5-demo/.gitignore
react-practical-start/06/demos/Router/src/registerServiceWorker.js
react-practical-start/06/demos/Router/src/logo.svg
react-practical-start/06/demos/Router/src/index.js
react-practical-start/06/demos/Router/src/index.css
react-practical-start/06/demos/Router/src/App.test.js
react-practical-start/06/demos/Router/src/App.js
react-practical-start/06/demos/Router/src/App.css
react-practical-start/06/demos/Router/public/manifest.json
react-practical-start/06/demos/Router/public/index.html
react-practical-start/06/demos/Router/public/favicon.ico
react-practical-start/06/demos/Router/README.md
react-practical-start/06/demos/Router/package.json
react-practical-start/06/demos/Router/package-lock.json
react-practical-start/06/demos/Router/.gitignore
react-practical-start/06/augmenting-features-and-tooling-slides.pdf
react-practical-start/05/demos/m4-demo/src/search-results/search-results-row.js
react-practical-start/05/demos/m4-demo/src/search-results/index.js
react-practical-start/05/demos/m4-demo/src/main-page/main-page.css
react-practical-start/05/demos/m4-demo/src/main-page/logo.svg
react-practical-start/05/demos/m4-demo/src/main-page/index.js
react-practical-start/05/demos/m4-demo/src/main-page/house-filter.js
react-practical-start/05/demos/m4-demo/src/main-page/header.js
react-practical-start/05/demos/m4-demo/src/main-page/GloboLogo.png
react-practical-start/05/demos/m4-demo/src/main-page/featured-house.js
react-practical-start/05/demos/m4-demo/src/house/Inquiry.js
react-practical-start/05/demos/m4-demo/src/house/index.js
react-practical-start/05/demos/m4-demo/src/house/house.css
react-practical-start/05/demos/m4-demo/src/registerServiceWorker.js
react-practical-start/05/demos/m4-demo/src/index.js
react-practical-start/05/demos/m4-demo/src/index.css
react-practical-start/05/demos/m4-demo/src/App.test.js
react-practical-start/05/demos/m4-demo/public/manifest.json
react-practical-start/05/demos/m4-demo/public/index.html
react-practical-start/05/demos/m4-demo/public/houses.json
react-practical-start/05/demos/m4-demo/public/favicon.ico
react-practical-start/05/demos/m4-demo/.vscode/launch.json
react-practical-start/05/demos/m4-demo/README.md
react-practical-start/05/demos/m4-demo/package.json
react-practical-start/05/demos/m4-demo/package-lock.json
react-practical-start/05/demos/m4-demo/.gitignore
react-practical-start/05/understanding-components-slides.pdf
react-practical-start/04/structuring-the-application-slides.pdf
react-practical-start/03/getting-ready-slides.pdf
react-practical-start/02/demos/DateTime/styles.css
react-practical-start/02/demos/DateTime/script.js
react-practical-start/02/demos/DateTime/index.html
react-practical-start/02/should-you-react-slides.pdf
